#area {
    padding-left: 35%;
    padding-top: 18%;
}
h1{
 text-align: center;
}     
nav#menu a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-weight: bold;
    transition: all 0.8s ease;
}
h1{
    color: black;
}
label {
    width: 200px;
    height: auto;
}
input {
    width: 400px;
}
button {
    width: 45%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}