h1{
    text-align: center;
}
label{
    padding-left: 0%;
    padding-top: 30%;
}
.container{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-weight: bold;
    transition: all 0.8s ease;
}
h1{
    
    padding-right: 69%;
    color:black
}
#area{
    padding-left: 35%;
    padding-top: 18%;
}
body{
    background-color: rgb(90, 88, 88);
}
    